<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>新闻</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<style>
	#china-map, #word-cloud {
		height: 800px;
		width: 100%;
	}
	#operation-bar {
	    height: 800px;
	}
	.fixElement {
		position: fixed;
	}
	.alert_window {
	    display: none;
	    position: fixed;
	    top: 10%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    min-width: 300px;
	    max-width: 600px;
	    z-index: 99999;
	    text-align: center;
	    padding: 15px;
	    border-radius: 0.9em;
	}
</style>
</head>
<body>
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-body" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="javascript:void(0)">白板报</a>
		</div>
		<div class="collapse navbar-collapse" id="nav-body">
			<ul class="nav navbar-nav">
                <li class="active" role="presentation"><a href="#page-1" aria-controls="page-1" role="tab" data-toggle="tab">新闻数据展示</a></li>
                <li role="presentation"><a href="#page-2" aria-controls="page-2" role="tab" data-toggle="tab">运维数据展示</a></li>
                <li role="presentation"><a href="#page-3" aria-controls="page-3" role="tab" data-toggle="tab">开发数据展示</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="page-1" aria-labelledby="page-1-tab">
        <div class="container-fluid" id="main-body-1">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <ul class="list-group">
                        <li class="list-group-item"><div id="china-map"></div></li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item"><div id="word-cloud"></div></li>
                    </ul>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">[[ left_table_title ]]</div>
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="spider in normal_spider_list">
                                        [[ spider[0] ]]<span class="badge">[[ spider[1] ]]</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel panel-danger">
                                <div class="panel-heading">[[ right_table_title ]]</div>
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="spider in abnormal_spider_list">
                                        [[ spider[0] ]]<span class="badge">[[ spider[1] ]]</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-sm-offset-10 fixElement">
                    <div class="list-group">
                        <a href="javascript:void(0)" @click.prevent="choose_day(0)" class="list-group-item text-center">今天</a>
                        <a href="javascript:void(0)" @click.prevent="choose_day(1)" class="list-group-item text-center">昨天</a>
                        <a href="javascript:void(0)" @click.prevent="choose_day(2)" class="list-group-item text-center">前天</a>
                        <a class=" list-group-item text-center">
                            <div class="checkbox" style="margin: 0;"><label><input type="checkbox" value="true" v-model="just_choose_province">仅查看省区</label></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="page-2" aria-labelledby="page-2-tab">
        <div class="container-fluid" id="main-body-2">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">汇总表单</th>
                                <th class="text-center">Count</th>
                                <th class="text-center">异常总次数</th>
                                <th class="text-center">运维总次数</th>
                                <th class="text-center">占比</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="data in data_summary">
                                <td class="text-center">[[ data[0] ]]</td>
                                <td class="text-center">[[ data[1] ]]</td>
                                <td class="text-center">-</td>
                                <td class="text-center">-</td>
                                <td class="text-center">[[ data[2] || '-']]</td>
                            </tr>
                            <tr v-for="data in data_statistical">
                                <td class="text-center">[[ data[0] ]]</td>
                                <td class="text-center">-</td>
                                <td class="text-center">[[ data[1].toFixed(2) ]]</td>
                                <td class="text-center">[[ data[2].toFixed(2) ]]</td>
                                <td class="text-center">[[ data[3] ]]</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="list-group">
                        <li class="list-group-item"><div id="operation-bar"></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="page-3">
        <div class="container-fluid" id="main-body-3">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    456
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/echarts.min.js"></script>
<script src="../static/js/china.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/echarts-wordclound.min.js"></script>
<script src="../static/js/vue.min.js"></script>
<script src="../static/js/clipboard.min.js"></script>
<script>
$(function(){
    var
        prompt = function (message, style, time){
            style = (style === undefined) ? 'alert-success' : style;
            time = (time === undefined) ? 1200 : time;
            $('<div>')
                .appendTo('body')
                .addClass('alert_window ' + style)
                .html(message)
                .show(100)
                .delay(time)
                .fadeOut();
        },
        success_prompt = function(message, time){
            prompt(message, 'alert-success', time);  // Using Bootstrap Style
        },
        danger_prompt = function(message, time){
            prompt(message, 'alert-danger', time);
        };
	new Vue({
		el: '#main-body-1',
		delimiters: ['[[', ']]'],
		data(){
			return {
				normal_spider_list: [],
				abnormal_spider_list: [],
				left_table_title: '新闻更新量（单位：条）',
				right_table_title: '当天未更新的任务',
				just_choose_province: '',
				is_loading: false,
			}
		},
		mounted(){
			//this.init_pic('/api/get/map/data', {});  // 暂时废弃，改用v1
			this.myChart1 = echarts.init(document.getElementById('china-map'));
			this.myChart2 = echarts.init(document.getElementById('word-cloud'));
			this.myChart1.showLoading();
			this.myChart2.showLoading();
			//this.choose_day(0);
		},
		methods: {
			init_pic: function(api, params){
				this.myChart1.showLoading();
				this.myChart2.showLoading();
				$.get(api, params, (api_result) => {
					this.init_table_list(api_result);
					this.init_china_map(this.myChart1, api_result);
					this.init_word_cloud(this.myChart2, api_result);
				})
			},
			choose_day: function(count){
				if (this.is_loading) {
					danger_prompt('正在加载中，请勿重复点击~', 500);
					return;
				}
				this.is_loading = true;
				var timeStamp = new Date(new Date().setHours(0, 0, 0, 0)) / 1000;
				day = timeStamp - 86400 * count;
				start_time = new Date();
				$.get('/api/get/map/data/v1', {
					day: day,
					just_choose_province: this.just_choose_province || false,
				}, (api_result) => {
					this.init_table_list(api_result);
					this.init_china_map(this.myChart1, api_result);
					this.init_word_cloud(this.myChart2, api_result);
					this.is_loading = false;
					success_prompt('Loading Success!', 500);
				})
			},
			init_table_list: function(api_result){
				this.normal_spider_list = api_result.normal_spider_list;
				this.abnormal_spider_list = api_result.abnormal_spider_list;
			},
			init_china_map: function(myChart, api_result){
				var now = new Date(),
					option = {
					title: {
						text: '政府新闻热度图'
					},
					tooltip: {
					},
					visualMap: {
						show: true,
						x: 'right',
						y: 'top',
						splitList: api_result.bar,
						color: ['#B71C1C', '#FFB74D', '#90CAF9', '#A5D6A7']
					},
					series: [
						{
							name: api_result.current_day,
							type: 'map',
							mapType: 'china',
							selectedMode: 'multiple',
							label: {
								normal: {
									show: true,
								},
								emphasis: {
									show: true,
								}
							},
							itemStyle: {
								normal: {
									borderWidth: .5,
								},
								emphasis: {
									borderWidth: .5,
									borderColor: '#4b0082',
									areaColor: "#ffdead",
								}
							},
							data: api_result.map_data,
						}
					]
				};
				myChart.hideLoading();
				myChart.setOption(option);
			},
			init_word_cloud: function(myChart, api_result){
				var
					data = api_result.cloud_data,
					maskImage = new Image(),
					option = {
						title: {
							text: '热度话题'
						},
						series: [{
							type: 'wordCloud',
							sizeRange: [10, 100],
							rotationRange: [-90, 90],
							rotationStep: 45,
							gridSize: 2,
							shape: 'pentagon',
							maskImage: maskImage,
							textStyle: {
								normal: {
									color: function () {
										return 'rgb(' + [
											Math.round(Math.random() * 160),
											Math.round(Math.random() * 160),
											Math.round(Math.random() * 160)
										].join(',') + ')';
									}
								}
							},
							data: data.sort(function (a, b) {
								return b.value  - a.value;
							})
						}],
					};
				maskImage.onload = function () {
					myChart.hideLoading();
					option.series[0].maskImage
					myChart.setOption(option);
				}
				maskImage.src = '../static/img/logo.png';
			},
		},
	})
})
</script>
<script>
$(function(){
    new Vue({
        el: '#main-body-2',
        delimiters: ['[[', ']]'],
        data(){
            return {
                data_summary: [],
                data_statistical: [],
            }
        },
        mounted(){
            var parent_width = document.getElementById('china-map').parentNode.offsetWidth;
            $('#operation-bar').css('width', parent_width - 32)
            this.myChart1 = echarts.init(document.getElementById('operation-bar'));
            this.myChart1.showLoading();
            //this.init_data();
        },
        methods: {
            init_data: function(){
                $.get('/api/get/operation/data', {
                    task_name: '诚信数据'
                }, (api_data) => {
                    this.draw_table(api_data);
                    this.draw_bar(api_data);
                })
            },
            draw_table: function(api_data){
                this.data_summary = api_data.data_summary;
                this.data_statistical = api_data.data_statistical;
            },
            draw_bar: function(api_data){
                var option = {
                    tooltip : {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow',
                            label: {
                                show: true
                            }
                        }
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    legend: {
                        data:['Growth', 'Budget 2011', 'Budget 2012'],
                        itemGap: 5
                    },
                    grid: {
                        top: '12%',
                        left: '1%',
                        right: '10%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type : 'category',
                            data : api_data[0]
                        }
                    ],
                    yAxis: {
                            type : 'value',
                    },
                    dataZoom: [
                        {
                            show: true,
                            start: 94,
                            end: 100
                        },
                        {
                            type: 'inside',
                            start: 94,
                            end: 100
                        },
                        {
                            show: true,
                            yAxisIndex: 0,
                            filterMode: 'empty',
                            width: 30,
                            height: '80%',
                            showDataShadow: false,
                            left: '93%'
                        }
                    ],
                    series : [
                        {
                            name: 'Budget 2011',
                            type: 'bar',
                            data: api_data[1]
                        },
                        {
                            name: 'Budget 2012',
                            type: 'bar',
                            data: api_data[2]
                        },
                        {
                            name: 'Budget 2012',
                            type: 'bar',
                            data: api_data[3]
                        }
                    ]
                };
                this.myChart1.hideLoading();
                this.myChart1.setOption(option);
            }
        },
    })
})
</script>
</body>
</html>